li {
  padding: 5px;
  margin: 5px;
  background: cornflowerblue;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#jumbo {
  height: 100px;
  background-color: yellow;
  color: blue;
}

